<a href="https://colab.research.google.com/github/theAkhileshRai/Projects/blob/master/DCP_normalise01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import xlrd 
import os 
import glob
import re 
from plotly.subplots import make_subplots
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import seaborn as sns
import warnings
warnings.filterwarnings("error")
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
!pip install chart_studio
import chart_studio.plotly as py
import matplotlib.pyplot as plt
import plotly.offline as py
import warnings
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")
from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error
from sklearn.metrics import median_absolute_error, mean_squared_error, mean_squared_log_error
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)
import plotly.graph_objects as go
from plotly.offline import  download_plotlyjs,init_notebook_mode,plot,iplot
import plotly.io as pio
pio.renderers.default = 'colab'
from itertools import groupby
import plotly.express as px

from collections import Counter

from glob import glob

from datetime import datetime as dt
import warnings
from sklearn.svm import LinearSVR
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVR
from sklearn.svm import SVC
from sklearn import ensemble
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
from datetime import datetime
warnings.filterwarnings('ignore')
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from numpy import hstack
from numpy import array
from random import random
from sklearn.preprocessing import MinMaxScaler

Collecting chart_studio
  Downloading https://files.pythonhosted.org/packages/ca/ce/330794a6b6ca4b9182c38fc69dd2a9cbff60fd49421cb8648ee5fee352dc/chart_studio-1.1.0-py3-none-any.whl (64kB)
     |████████████████████████████████| 71kB 1.8MB/s
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.23.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Installing collected packages: chart-studio
Successfully installed chart-studio-1.1.0

Exception ignored in: <_io.FileIO name='/usr/local/lib/python3.6/dist-packages/chart_studio-1.1.0.dist-info/top_level.txt' mode='rb' closefd=True>
ResourceWarning: unclosed file <_io.TextIOWrapper name='/usr/local/lib/python3.6/dist-packages/chart_studio-1.1.0.dist-info/top_level.txt' mode='r' encoding='UTF-8'>

Using TensorFlow backend.

In [ ]:
merge_df = pd.read_csv('/content/DCP_leak_classification_train_data.csv')

In [ ]:
merge_df.head()

   Unnamed: 0  Unnamed: 0.1  ...            Asset  Binary
0           0             0  ...  Ashland_Unit256     0.0
1           1             1  ...  Ashland_Unit256     0.0
2           2             2  ...  Ashland_Unit256     0.0
3           3             3  ...  Ashland_Unit256     0.0
4           4             4  ...  Ashland_Unit256     0.0

[5 rows x 16 columns]

In [ ]:
merge_df['Asset'].unique()

array(['Ashland_Unit256', 'Center station_C2', 'Crossbar_Unit1',
       'El Dorado_Unit', 'Goliad_Unit1100', 'HobitLP_Unit102',
       'Hobit_Unit2', 'Katy_Unit1116', 'Katy_Unit1117', 'LOHT_North',
       'La Porte_K11A', 'Lightning_Unit2 (2)(1).csv', 'RJ_Unit1(1).csv',
       'Lightning_Unit4', 'Reagon_Unit3', 'Saltlake_K71010B',
       'Strawberry_Unit1', 'Reagon_Unit6', 'West Turkey_Unit2'],
      dtype=object)

In [ ]:
# Ashland_Unit256
cyl1 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'Ashland_Unit256')]
# cyl2 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.Asset == 'Ashland_Unit256')]
# cyl3 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.Asset == 'Ashland_Unit256')]
# cyl4 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.Asset == 'Ashland_Unit256')]

In [ ]:
leak_log = pd.read_excel('/content/New DCP leak Log_7-18-2020_MR.xlsx', index_col=0)

In [ ]:
leak_log

                                                     Unnamed: 1  ... Unnamed: 9
DCP Leak log 2019 (for units monitored with spo...               ...
Leak #                                                  Station  ...      notes
1                                                   200 Booster  ...        NaN
NaN                                                         NaN  ...        NaN
2                                                   200 Booster  ...        NaN
NaN                                                         NaN  ...        NaN
...                                                         ...  ...        ...
70                                                    Wild hog   ...        NaN
NaN                                                         NaN  ...        NaN
71                                                    Wolffork   ...        NaN
NaN                                                         NaN  ...        NaN
72                                                    Wolffork   ...        NaN

[172 rows x 9 columns]

In [ ]:
len(cyl1)

2669

In [ ]:
scale_columns = ['s_temp_crank', 'd_temp_crank', 'rpm_crank', 's_temp_mean',
       'd_temp_mean', 's_pressure_mean', 'd_pressure_mean', 'rpm_mean',]

In [ ]:
scaler = MinMaxScaler()

In [ ]:
# cyl2[scale_columns] = scaler.fit_transform(cyl2[scale_columns])
cyl1[scale_columns] = scaler.fit_transform(cyl1[scale_columns])
#cyl2[scale_columns] = scaler.fit_transform(cyl2[scale_columns])

In [ ]:
# Cross Bar Unit 1
# cyl1 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'Crossbar_Unit1')]
# cyl2 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.Asset == 'Crossbar_Unit1')]
# cyl3 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.Asset == 'Crossbar_Unit1')]
cyl2 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.Asset == 'Crossbar_Unit1')]

In [ ]:
len(cyl4)

5268

In [ ]:
scale_columns = ['s_temp_crank', 'd_temp_crank',
       's_pressure_crank', 'd_pressure_crank', 'rpm_crank', 's_temp_mean',
       'd_temp_mean', 's_pressure_mean', 'd_pressure_mean', 'rpm_mean',]

In [ ]:
scaler = MinMaxScaler()

In [ ]:
# cyl1[scale_columns] = scaler.fit_transform(cyl1[scale_columns])
# cyl2[scale_columns] = scaler.fit_transform(cyl2[scale_columns])
# cyl3[scale_columns] = scaler.fit_transform(cyl3[scale_columns])
cyl4[scale_columns] = scaler.fit_transform(cyl4[scale_columns])

In [ ]:
cross_norm_df1 = pd.concat([cyl1,cyl2,cyl3,cyl4],ignore_index=True)

In [ ]:
cross_df4 = merge_df.loc[(merge_df.station == 'Cross Barr')& (merge_df.machine == 'Unit 4')]
Counter(cross_df4['cyl'])

Counter({2.0: 283, 4.0: 80})

In [ ]:
# Cross Bar Unit 4
cyl5 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Cross Barr')& (merge_df.machine == 'Unit 4')]

cyl6 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Cross Barr')& (merge_df.machine == 'Unit 4')]

In [ ]:
cyl5[scale_columns] = scaler.fit_transform(cyl5[scale_columns])
cyl6[scale_columns] = scaler.fit_transform(cyl6[scale_columns])

In [ ]:
cross_norm_df4 = pd.concat([cyl5,cyl6],ignore_index=True)

In [ ]:
# Cross Bar Unit 5

cross_df5 = merge_df.loc[(merge_df.station == 'Cross Barr')& (merge_df.machine == 'Unit 5')]
Counter(cross_df5['cyl'])

Counter({2.0: 3068, 3.0: 2, 4.0: 3129})

In [ ]:
cyl7 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Cross Barr')& (merge_df.machine == 'Unit 5')]
cyl8 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'Cross Barr')& (merge_df.machine == 'Unit 5')]
cyl9 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Cross Barr')& (merge_df.machine == 'Unit 5')]

In [ ]:
cyl7[scale_columns] = scaler.fit_transform(cyl7[scale_columns])
cyl8[scale_columns] = scaler.fit_transform(cyl8[scale_columns])
cyl9[scale_columns] = scaler.fit_transform(cyl9[scale_columns])

In [ ]:
cross_norm_df5 = pd.concat([cyl7,cyl8,cyl9],ignore_index=True)

In [ ]:
#reagon unit 3

reagan_df3 = merge_df.loc[(merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 3')]
Counter(reagan_df3['cyl'])

Counter({1.0: 936, 2.0: 1375, 3.0: 1375, 4.0: 1378})

In [ ]:
cyl10 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 3')]
cyl11 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 3')]
cyl12 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 3')]
cyl13 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 3')]

In [ ]:
cyl10[scale_columns] = scaler.fit_transform(cyl10[scale_columns])
cyl11[scale_columns] = scaler.fit_transform(cyl11[scale_columns])
cyl12[scale_columns] = scaler.fit_transform(cyl12[scale_columns])
cyl13[scale_columns] = scaler.fit_transform(cyl13[scale_columns])

In [ ]:
reagon_norm_df3 = pd.concat([cyl10,cyl11,cyl12,cyl13],ignore_index=True)

In [ ]:
#reagon unit 6
reagan_df6 = merge_df.loc[(merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 6')]
Counter(reagan_df6['cyl'])

Counter({1.0: 5550, 2.0: 5579, 3.0: 5572, 4.0: 5570})

In [ ]:
cyl14 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 6')]
cyl15= merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 6')]
cyl16 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 6')]
cyl17 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Reagan')& (merge_df.machine == 'Unit 6')]

In [ ]:
cyl14[scale_columns] = scaler.fit_transform(cyl14[scale_columns])
cyl15[scale_columns] = scaler.fit_transform(cyl15[scale_columns])
cyl16[scale_columns] = scaler.fit_transform(cyl16[scale_columns])
cyl17[scale_columns] = scaler.fit_transform(cyl17[scale_columns])

In [ ]:
#West Turkey Track unit 2
west_df3 = merge_df.loc[(merge_df.station == 'West Turkey Track')& (merge_df.machine == 'Unit 2')]
Counter(west_df3['cyl'])

Counter({1.0: 3212, 2.0: 4324, 3.0: 3885, 4.0: 4370})

In [ ]:
cyl18 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'West Turkey Track')& (merge_df.machine == 'Unit 2')]
cyl19= merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'West Turkey Track')& (merge_df.machine == 'Unit 2')]
cyl20 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'West Turkey Track')& (merge_df.machine == 'Unit 2')]
cyl21 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'West Turkey Track')& (merge_df.machine == 'Unit 2')]

In [ ]:
cyl18[scale_columns] = scaler.fit_transform(cyl18[scale_columns])
cyl19[scale_columns] = scaler.fit_transform(cyl19[scale_columns])
cyl20[scale_columns] = scaler.fit_transform(cyl20[scale_columns])
cyl21[scale_columns] = scaler.fit_transform(cyl21[scale_columns])

In [ ]:
#Hobit unit 102 
hobit_df102 = merge_df.loc[(merge_df.station == 'Hobit LP')& (merge_df.machine == 'unit 102')]
Counter(hobit_df102['cyl'])

Counter({1.0: 2987, 2.0: 3065, 3.0: 3016, 4.0: 2534})

In [ ]:
cyl22 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Hobit LP')& (merge_df.machine == 'unit 102')]
cyl23= merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Hobit LP')& (merge_df.machine == 'unit 102')]
cyl24 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'Hobit LP')& (merge_df.machine == 'unit 102')]
cyl25 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Hobit LP')& (merge_df.machine == 'unit 102')]

In [ ]:
cyl22[scale_columns] = scaler.fit_transform(cyl22[scale_columns])
cyl23[scale_columns] = scaler.fit_transform(cyl23[scale_columns])
cyl24[scale_columns] = scaler.fit_transform(cyl24[scale_columns])
cyl25[scale_columns] = scaler.fit_transform(cyl25[scale_columns])

In [ ]:
#Hobit LP Unit2
hobit_df2 = merge_df.loc[(merge_df.station == 'Hobit LP')& (merge_df.machine == 'Unit 2')]
Counter(hobit_df2['cyl'])

Counter({1.0: 3835, 2.0: 3837, 3.0: 3834, 4.0: 3838})

In [ ]:
cyl26 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Hobit LP')& (merge_df.machine == 'Unit 2')]
cyl27= merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Hobit LP')& (merge_df.machine == 'Unit 2')]
cyl28 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'Hobit LP')& (merge_df.machine == 'Unit 2')]
cyl29 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Hobit LP')& (merge_df.machine == 'Unit 2')]

In [ ]:
cyl26[scale_columns] = scaler.fit_transform(cyl26[scale_columns])
cyl27[scale_columns] = scaler.fit_transform(cyl27[scale_columns])
cyl28[scale_columns] = scaler.fit_transform(cyl28[scale_columns])
cyl29[scale_columns] = scaler.fit_transform(cyl29[scale_columns])

In [ ]:
# Katy Unit C-1116
katy_df6 = merge_df.loc[(merge_df.station == 'Katy')& (merge_df.machine == 'C-1116')]
Counter(katy_df6['cyl'])

Counter({1.0: 5853, 2.0: 5813})

In [ ]:
cyl30 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Katy')& (merge_df.machine == 'C-1116')]
cyl31= merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Katy')& (merge_df.machine == 'C-1116')]

In [ ]:
cyl30[scale_columns] = scaler.fit_transform(cyl30[scale_columns])
cyl31[scale_columns] = scaler.fit_transform(cyl31[scale_columns])

In [ ]:
# Katy Unit C-1117
katy_df7 = merge_df.loc[(merge_df.station == 'Katy')& (merge_df.machine == 'C-1117')]
Counter(katy_df7['cyl'])

Counter({1.0: 7235, 2.0: 7234})

In [ ]:
cyl32 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Katy')& (merge_df.machine == 'C-1117')]
cyl33 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Katy')& (merge_df.machine == 'C-1117')]

In [ ]:
cyl32[scale_columns] = scaler.fit_transform(cyl32[scale_columns])
cyl33[scale_columns] = scaler.fit_transform(cyl33[scale_columns])

In [ ]:
# Goliad Unit C-1117
goliad_df = merge_df.loc[(merge_df.station == 'Goliad')& (merge_df.machine == 'unit 1100')]
Counter(goliad_df['cyl'])

Counter({1.0: 8425, 2.0: 8426, 3.0: 8395, 4.0: 8427})

In [ ]:
cyl34 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Goliad')& (merge_df.machine == 'unit 1100')]
cyl35 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Goliad')& (merge_df.machine == 'unit 1100')]
cyl36 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'Goliad')& (merge_df.machine == 'unit 1100')]
cyl37 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Goliad')& (merge_df.machine == 'unit 1100')]

In [ ]:
cyl34[scale_columns] = scaler.fit_transform(cyl34[scale_columns])
cyl35[scale_columns] = scaler.fit_transform(cyl35[scale_columns])
cyl36[scale_columns] = scaler.fit_transform(cyl36[scale_columns])
cyl37[scale_columns] = scaler.fit_transform(cyl37[scale_columns])

In [ ]:
# Lightning Unit 2
lightning_df = merge_df.loc[(merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 2')]
Counter(lightning_df['cyl'])

Counter({1.0: 1937, 2.0: 1643, 3.0: 1935, 4.0: 922})

In [ ]:
cyl38 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 2')]
cyl39 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 2')]
cyl40 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 2')]
cyl41 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 2')]

In [ ]:
cyl38[scale_columns] = scaler.fit_transform(cyl38[scale_columns])
cyl39[scale_columns] = scaler.fit_transform(cyl39[scale_columns])
cyl40[scale_columns] = scaler.fit_transform(cyl40[scale_columns])
cyl41[scale_columns] = scaler.fit_transform(cyl41[scale_columns])

In [ ]:
# Lightning Unit 4
lightning_df4 = merge_df.loc[(merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 4')]
Counter(lightning_df4['cyl'])

Counter({1.0: 3058, 2.0: 1860, 3.0: 1829, 4.0: 3056})

In [ ]:
merge_df.head()

   Unnamed: 0                 time  cyl  ...  machine  multi_class  leak
0           0  2019-04-05 02:30:00  1.0  ...   Unit 1            0   0.0
1           1  2019-04-05 03:30:00  1.0  ...   Unit 1            0   0.0
2           2  2019-04-05 04:30:00  1.0  ...   Unit 1            0   0.0
3           3  2019-04-05 05:30:00  1.0  ...   Unit 1            0   0.0
4           4  2019-04-05 06:30:00  1.0  ...   Unit 1            0   0.0

[5 rows x 17 columns]

In [ ]:
cyl42 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 4')]
cyl43 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 4')]
cyl44 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 4')]
cyl45 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.station == 'Lightning')& (merge_df.machine == 'Unit 4')]

In [ ]:
cyl42[scale_columns] = scaler.fit_transform(cyl42[scale_columns])
cyl43[scale_columns] = scaler.fit_transform(cyl43[scale_columns])
cyl44[scale_columns] = scaler.fit_transform(cyl44[scale_columns])
cyl45[scale_columns] = scaler.fit_transform(cyl45[scale_columns])

# New Assets

In [ ]:
new_asset_df = pd.read_csv('/content/Train_data(1).csv')

In [ ]:
new_asset_df.head()

   Unnamed: 0  Unnamed: 0.1  ...  multi_class Binary
0           0             0  ...       Normal      0
1           1             1  ...       Normal      0
2           2             2  ...       Normal      0
3           3             3  ...       Normal      0
4           4             4  ...       Normal      0

[5 rows x 18 columns]

In [ ]:
new_asset_df['Asset'].unique()

array(['Ashland_Unit256', 'Center station_C2', 'El Dorado_Unit J2502',
       'Saltlake_K71010B'], dtype=object)

In [ ]:
ashland_df = new_asset_df.loc[(new_asset_df.Asset == 'Ashland_Unit256')]
Counter(ashland_df['cyl'])

Counter({1: 1211})

In [ ]:
cyl46 = new_asset_df.loc[(new_asset_df.cyl==1.0) & (new_asset_df.Asset == 'Ashland_Unit256')]
cyl46[scale_columns] = scaler.fit_transform(cyl46[scale_columns])

In [ ]:
centerstation_df = new_asset_df.loc[(new_asset_df.Asset == 'Center station_C2')]
Counter(centerstation_df['cyl'])

Counter({4: 9})

In [ ]:
cyl47 = new_asset_df.loc[(new_asset_df.cyl==4.0) & (new_asset_df.Asset == 'Center station_C2')]
cyl47[scale_columns] = scaler.fit_transform(cyl47[scale_columns])

In [ ]:
dorado_df = new_asset_df.loc[(new_asset_df.Asset == 'El Dorado_Unit J2502')]
Counter(dorado_df['cyl'])

Counter({2: 5465})

In [ ]:
cyl48 = new_asset_df.loc[(new_asset_df.cyl==2.0) & (new_asset_df.Asset == 'El Dorado_Unit J2502')]
cyl48[scale_columns] = scaler.fit_transform(cyl48[scale_columns])

In [ ]:
saltlake_df = new_asset_df.loc[(new_asset_df.Asset == 'Saltlake_K71010B')]
Counter(saltlake_df['cyl'])

Counter({2: 9580})

In [ ]:
cyl49 = new_asset_df.loc[(new_asset_df.cyl==2.0) & (new_asset_df.Asset == 'Saltlake_K71010B')]
cyl49[scale_columns] = scaler.fit_transform(cyl49[scale_columns])

# Merge old Assets

In [ ]:
old_normalised_merge = pd.concat([cyl1,cyl2,cyl3,cyl4,cyl5,cyl6,cyl7,cyl8,cyl9,cyl10,cyl11,cyl12,\
                                  cyl13,cyl14,cyl15,cyl17,cyl18,cyl19,cyl20,cyl21,cyl22,cyl23,\
                                  cyl24,cyl25,cyl26,cyl27,cyl28,cyl29,cyl30,cyl31,cyl32,cyl33,\
                                  cyl34,cyl35,cyl36,cyl38,cyl39,cyl40,cyl41,cyl42,cyl43,cyl44,cyl45],ignore_index = True)

In [ ]:
new_normalised_assets = pd.concat([cyl46,cyl47,cyl48,cyl49],ignore_index=True)

In [ ]:
new_normalised_assets['Asset'].unique()

array(['Ashland_Unit256', 'Center station_C2', 'El Dorado_Unit J2502',
       'Saltlake_K71010B'], dtype=object)

In [ ]:
old_normalised_merge.head()

   Unnamed: 0                 time  cyl  ...  machine  multi_class  leak
0           0  2019-04-05 02:30:00  1.0  ...   Unit 1            0   0.0
1           1  2019-04-05 03:30:00  1.0  ...   Unit 1            0   0.0
2           2  2019-04-05 04:30:00  1.0  ...   Unit 1            0   0.0
3           3  2019-04-05 05:30:00  1.0  ...   Unit 1            0   0.0
4           4  2019-04-05 06:30:00  1.0  ...   Unit 1            0   0.0

[5 rows x 17 columns]

In [ ]:
old_normalised_merge.columns

Index(['Unnamed: 0', 'time', 'cyl', 's_temp_crank', 'd_temp_crank',
       's_pressure_crank', 'd_pressure_crank', 'rpm_crank', 's_temp_mean',
       'd_temp_mean', 's_pressure_mean', 'd_pressure_mean', 'rpm_mean',
       'station', 'machine', 'multi_class', 'leak'],
      dtype='object')

In [ ]:
new_normalised_assets.head()

   Unnamed: 0  Unnamed: 0.1  ...  multi_class Binary
0           0             0  ...       Normal      0
1           1             1  ...       Normal      0
2           2             2  ...       Normal      0
3           3             3  ...       Normal      0
4           4             4  ...       Normal      0

[5 rows x 18 columns]

In [ ]:
new_normalised_assets['machine'] = 'unit'

In [ ]:
new_normalised_assets.loc[(new_normalised_assets.Asset == 'Ashland_Unit256'),'machine'] = 'unit 256'
new_normalised_assets.loc[(new_normalised_assets.Asset == 'Saltlake_K71010B'),'machine'] = 'unit 1010' # Center station_C2 El Dorado_Unit J2502
new_normalised_assets.loc[(new_normalised_assets.Asset == 'Center station_C2'),'machine'] = 'unit 2'
new_normalised_assets.loc[(new_normalised_assets.Asset == 'El Dorado_Unit J2502'),'machine'] = 'unit 2502'

In [ ]:
new_normalised_assets = new_normalised_assets.rename(columns= {'Asset': 'station','Binary': 'leak'})

In [ ]:
columns = ['time', 'cyl', 's_temp_crank', 'd_temp_crank',
       's_pressure_crank', 'd_pressure_crank', 'rpm_crank', 's_temp_mean',
       'd_temp_mean', 's_pressure_mean', 'd_pressure_mean', 'rpm_mean',
       'station', 'machine', 'multi_class', 'leak']

In [ ]:
new_normalised_assets = new_normalised_assets[columns]

In [ ]:
old_normalised_merge = old_normalised_merge[columns]

In [ ]:
new_normalised_assets.to_csv('new_normalised_assets.csv')

In [ ]:
old_normalised_merge.to_csv('old_normalised_assets.csv')