<a href="https://colab.research.google.com/github/theAkhileshRai/Projects/blob/master/New_DCP_normalise01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import xlrd 
import os 
import glob
import re 
from plotly.subplots import make_subplots
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import seaborn as sns
import warnings
warnings.filterwarnings("error")
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
!pip install chart_studio
import chart_studio.plotly as py
import matplotlib.pyplot as plt
import plotly.offline as py
import warnings
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")
from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error
from sklearn.metrics import median_absolute_error, mean_squared_error, mean_squared_log_error
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)
import plotly.graph_objects as go
from plotly.offline import  download_plotlyjs,init_notebook_mode,plot,iplot
import plotly.io as pio
pio.renderers.default = 'colab'
from itertools import groupby
import plotly.express as px

from collections import Counter

from glob import glob

from datetime import datetime as dt
import warnings
from sklearn.svm import LinearSVR
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVR
from sklearn.svm import SVC
from sklearn import ensemble
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
from datetime import datetime
warnings.filterwarnings('ignore')
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from numpy import hstack
from numpy import array
from random import random
from sklearn.preprocessing import MinMaxScaler

Collecting chart_studio
  Downloading https://files.pythonhosted.org/packages/ca/ce/330794a6b6ca4b9182c38fc69dd2a9cbff60fd49421cb8648ee5fee352dc/chart_studio-1.1.0-py3-none-any.whl (64kB)
     |████████████████████████████████| 71kB 4.5MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.4.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.10)
Installing collected packages: chart-studio
Successfully installed chart-studio-1.1.0

Exception ignored in: <_io.FileIO name='/usr/local/lib/python3.6/dist-packages/chart_studio-1.1.0.dist-info/top_level.txt' mode='rb' closefd=True>
ResourceWarning: unclosed file <_io.TextIOWrapper name='/usr/local/lib/python3.6/dist-packages/chart_studio-1.1.0.dist-info/top_level.txt' mode='r' encoding='UTF-8'>

In [2]:
merge_df = pd.read_csv('/content/DCP_leak_classification_train_data.csv')

In [3]:
merge_df.head()

   Unnamed: 0  Unnamed: 0.1  ...            Asset  Binary
0           0             0  ...  Ashland_Unit256     0.0
1           1             1  ...  Ashland_Unit256     0.0
2           2             2  ...  Ashland_Unit256     0.0
3           3             3  ...  Ashland_Unit256     0.0
4           4             4  ...  Ashland_Unit256     0.0

[5 rows x 16 columns]

In [4]:
merge_df['Asset'].unique()

array(['Ashland_Unit256', 'Center station_C2', 'Crossbar_Unit1',
       'El Dorado_Unit', 'Goliad_Unit1100', 'HobitLP_Unit102',
       'Hobit_Unit2', 'Katy_Unit1116', 'Katy_Unit1117', 'LOHT_North',
       'La Porte_K11A', 'Lightning_Unit2 (2)(1).csv', 'RJ_Unit1(1).csv',
       'Lightning_Unit4', 'Reagon_Unit3', 'Saltlake_K71010B',
       'Strawberry_Unit1', 'Reagon_Unit6', 'West Turkey_Unit2'],
      dtype=object)

In [5]:
# Ashland_Unit256
cyl1 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'Ashland_Unit256')]
# cyl2 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.Asset == 'Ashland_Unit256')]
# cyl3 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.Asset == 'Ashland_Unit256')]
# cyl4 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.Asset == 'Ashland_Unit256')]

In [6]:
leak_log = pd.read_excel('/content/New DCP leak Log_7-18-2020_MR.xlsx', index_col=0)

In [7]:
leak_log

                                                     Unnamed: 1  ... Unnamed: 9
DCP Leak log 2019 (for units monitored with spo...               ...
Leak #                                                  Station  ...      notes
1                                                   200 Booster  ...        NaN
NaN                                                         NaN  ...        NaN
2                                                   200 Booster  ...        NaN
NaN                                                         NaN  ...        NaN
...                                                         ...  ...        ...
70                                                    Wild hog   ...        NaN
NaN                                                         NaN  ...        NaN
71                                                    Wolffork   ...        NaN
NaN                                                         NaN  ...        NaN
72                                                    Wolffork   ...        NaN

[172 rows x 9 columns]

In [8]:
len(cyl1)

2669

In [9]:
scale_columns = ['s_temp_crank', 'd_temp_crank', 'rpm_crank', 's_temp_mean',
       'd_temp_mean', 's_pressure_mean', 'd_pressure_mean', 'rpm_mean',]

In [10]:
scaler = MinMaxScaler()

In [11]:
# cyl2[scale_columns] = scaler.fit_transform(cyl2[scale_columns])
cyl1[scale_columns] = scaler.fit_transform(cyl1[scale_columns])
#cyl2[scale_columns] = scaler.fit_transform(cyl2[scale_columns])

In [12]:
len(merge_df['Asset'].unique())

19

In [13]:
scale_columns = ['s_temp_crank', 'd_temp_crank',
       's_pressure_crank', 'd_pressure_crank', 'rpm_crank', 's_temp_mean',
       'd_temp_mean', 's_pressure_mean', 'd_pressure_mean', 'rpm_mean',]

In [14]:
scaler = MinMaxScaler()

In [15]:
# Cross Bar Unit 4
cyl2 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.Asset == 'Center station_C2')]

cyl3 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.Asset == 'Crossbar_Unit1')]

In [16]:
len(cyl3)

5268

In [17]:
cyl2[scale_columns] = scaler.fit_transform(cyl2[scale_columns])
cyl3[scale_columns] = scaler.fit_transform(cyl3[scale_columns])

In [18]:
cross_center_norm_df3 = pd.concat([cyl2,cyl3],ignore_index=True)

In [19]:
merge_df['Asset'].unique()

array(['Ashland_Unit256', 'Center station_C2', 'Crossbar_Unit1',
       'El Dorado_Unit', 'Goliad_Unit1100', 'HobitLP_Unit102',
       'Hobit_Unit2', 'Katy_Unit1116', 'Katy_Unit1117', 'LOHT_North',
       'La Porte_K11A', 'Lightning_Unit2 (2)(1).csv', 'RJ_Unit1(1).csv',
       'Lightning_Unit4', 'Reagon_Unit3', 'Saltlake_K71010B',
       'Strawberry_Unit1', 'Reagon_Unit6', 'West Turkey_Unit2'],
      dtype=object)

In [20]:
# Cross Bar Unit 4

cyl4 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.Asset == 'El Dorado_Unit')]
cyl5 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.Asset == 'Goliad_Unit1100')]

In [21]:
len(cyl5)

8560

In [22]:
cyl4[scale_columns] = scaler.fit_transform(cyl4[scale_columns])
cyl5[scale_columns] = scaler.fit_transform(cyl5[scale_columns])

In [23]:
#HobitLP_Unit102
cyl6 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.Asset == 'HobitLP_Unit102')]
cyl7 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.Asset == 'Hobit_Unit2')]

In [24]:
len(cyl7)

5926

In [25]:
cyl6[scale_columns] = scaler.fit_transform(cyl6[scale_columns])
cyl7[scale_columns] = scaler.fit_transform(cyl7[scale_columns])
# cyl9[scale_columns] = scaler.fit_transform(cyl9[scale_columns])

In [26]:
#HobitLP_Unit102
cyl8 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'Katy_Unit1116')]
cyl9 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'Katy_Unit1117')]

In [27]:
len(cyl9)

7915

In [28]:
cyl9[scale_columns] = scaler.fit_transform(cyl9[scale_columns])
cyl8[scale_columns] = scaler.fit_transform(cyl8[scale_columns])
# cyl11[scale_columns] = scaler.fit_transform(cyl11[scale_columns])
# cyl12[scale_columns] = scaler.fit_transform(cyl12[scale_columns])
# cyl13[scale_columns] = scaler.fit_transform(cyl13[scale_columns])

In [29]:
a = [1,2,3,4,5]
len(a)

5

In [30]:
len(merge_df['Asset'].unique())

19

In [31]:
#LOHT_North, La Porte_K11A
cyl10 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'LOHT_North')]
cyl11 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'La Porte_K11A')]

In [32]:
len(cyl11)

1819

In [33]:
cyl11[scale_columns] = scaler.fit_transform(cyl11[scale_columns])
cyl10[scale_columns] = scaler.fit_transform(cyl10[scale_columns])

In [34]:
#LOHT_North, La Porte_K11A
cyl13 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'Lightning_Unit2 (2)(1).csv')]
cyl12 = merge_df.loc[(merge_df.cyl==4.0) & (merge_df.Asset == 'RJ_Unit1(1).csv')]

In [35]:
len(cyl13)

3885

In [36]:
cyl13[scale_columns] = scaler.fit_transform(cyl13[scale_columns])
cyl12[scale_columns] = scaler.fit_transform(cyl12[scale_columns])

In [37]:
merge_df['Asset'].unique()

array(['Ashland_Unit256', 'Center station_C2', 'Crossbar_Unit1',
       'El Dorado_Unit', 'Goliad_Unit1100', 'HobitLP_Unit102',
       'Hobit_Unit2', 'Katy_Unit1116', 'Katy_Unit1117', 'LOHT_North',
       'La Porte_K11A', 'Lightning_Unit2 (2)(1).csv', 'RJ_Unit1(1).csv',
       'Lightning_Unit4', 'Reagon_Unit3', 'Saltlake_K71010B',
       'Strawberry_Unit1', 'Reagon_Unit6', 'West Turkey_Unit2'],
      dtype=object)

In [38]:
cyl15 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.Asset == 'Lightning_Unit4')]
cyl16 = merge_df.loc[(merge_df.cyl==3.0) & (merge_df.Asset == 'Reagon_Unit3')]
cyl14 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.Asset == 'Saltlake_K71010B')]

In [39]:
len(cyl16)

1462

In [40]:
cyl15[scale_columns] = scaler.fit_transform(cyl15[scale_columns])
cyl16[scale_columns] = scaler.fit_transform(cyl16[scale_columns])
cyl14[scale_columns] = scaler.fit_transform(cyl14[scale_columns])

In [41]:
cyl18 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'Strawberry_Unit1')]
cyl19 = merge_df.loc[(merge_df.cyl==2.0) & (merge_df.Asset == 'Reagon_Unit6')]
cyl17 = merge_df.loc[(merge_df.cyl==1.0) & (merge_df.Asset == 'West Turkey_Unit2')]

In [42]:
len(cyl18)

4713

# Merge old Assets

In [43]:
old_normalised_merge = pd.concat([cyl1,cyl2,cyl3,cyl4,cyl5,cyl6,cyl7,cyl8,cyl9,cyl10,cyl11,cyl12,\
                                  cyl13],ignore_index = True)

In [44]:
merge_df['Asset'].unique()

array(['Ashland_Unit256', 'Center station_C2', 'Crossbar_Unit1',
       'El Dorado_Unit', 'Goliad_Unit1100', 'HobitLP_Unit102',
       'Hobit_Unit2', 'Katy_Unit1116', 'Katy_Unit1117', 'LOHT_North',
       'La Porte_K11A', 'Lightning_Unit2 (2)(1).csv', 'RJ_Unit1(1).csv',
       'Lightning_Unit4', 'Reagon_Unit3', 'Saltlake_K71010B',
       'Strawberry_Unit1', 'Reagon_Unit6', 'West Turkey_Unit2'],
      dtype=object)

In [45]:
old_normalised_merge['Asset'].unique()

array(['Ashland_Unit256', 'Center station_C2', 'Crossbar_Unit1',
       'El Dorado_Unit', 'Goliad_Unit1100', 'HobitLP_Unit102',
       'Hobit_Unit2', 'Katy_Unit1116', 'Katy_Unit1117', 'LOHT_North',
       'La Porte_K11A', 'RJ_Unit1(1).csv', 'Lightning_Unit2 (2)(1).csv'],
      dtype=object)

In [46]:
len(old_normalised_merge['Asset'].unique())

13

In [47]:
old_normalised_merge.head()

   Unnamed: 0  Unnamed: 0.1  ...            Asset  Binary
0           0             0  ...  Ashland_Unit256     0.0
1           1             1  ...  Ashland_Unit256     0.0
2           2             2  ...  Ashland_Unit256     0.0
3           3             3  ...  Ashland_Unit256     0.0
4           4             4  ...  Ashland_Unit256     0.0

[5 rows x 16 columns]

In [48]:
old_normalised_merge.to_csv('Old_Normalised_skmin_max.csv')

In [49]:
new_normalised_merge = pd.concat([cyl14,cyl15,cyl16,cyl17,cyl18,cyl19],ignore_index = True)

In [50]:
new_normalised_merge.to_csv('New_Normalised_skmin_max.csv')