<a href="https://colab.research.google.com/github/theAkhileshRai/Projects/blob/master/XGBClassfier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [0]:
df1 = pd.read_csv('/content/Combined_df.csv',index_col=False)

In [25]:
df1.head()

   Unnamed: 0           time  cyl  ...  y_true  leak_level     station
0           0  05/04/19 2:30    1  ...     1.0         2.0  Cross Barr
1           1  05/04/19 3:30    1  ...     1.0         2.0  Cross Barr
2           2  05/04/19 4:30    1  ...     1.0         2.0  Cross Barr
3           3  05/04/19 5:30    1  ...     1.0         2.0  Cross Barr
4           4  05/04/19 6:30    1  ...     1.0         2.0  Cross Barr

[5 rows x 16 columns]

In [26]:
df1.columns

Index(['Unnamed: 0', 'time', 'cyl', 's_temp_crank', 'd_temp_crank',
       's_pressure_crank', 'd_pressure_crank', 'rpm_crank', 's_temp_mean',
       'd_temp_mean', 's_pressure_mean', 'd_pressure_mean', 'rpm_mean',
       'y_true', 'leak_level', 'station'],
      dtype='object')

In [0]:
df1 = df1.drop(columns='Unnamed: 0')

In [28]:
df1.head()

            time  cyl  s_temp_crank  ...  y_true  leak_level     station
0  05/04/19 2:30    1      0.666534  ...     1.0         2.0  Cross Barr
1  05/04/19 3:30    1      0.716066  ...     1.0         2.0  Cross Barr
2  05/04/19 4:30    1      0.687551  ...     1.0         2.0  Cross Barr
3  05/04/19 5:30    1      0.686916  ...     1.0         2.0  Cross Barr
4  05/04/19 6:30    1      0.698125  ...     1.0         2.0  Cross Barr

[5 rows x 15 columns]

In [29]:
df1.shape

(165861, 15)

In [0]:
X = df1.iloc[:,1:12]

In [31]:
X

        cyl  s_temp_crank  ...  d_pressure_mean   rpm_mean
0         1      0.666534  ...        10.142075  10.063987
1         1      0.716066  ...        10.053597  10.075669
2         1      0.687551  ...        10.001306  10.081478
3         1      0.686916  ...        10.008420  10.054274
4         1      0.698125  ...        10.009700  10.091478
...     ...           ...  ...              ...        ...
165856    4      0.728417  ...         2.375134  12.358284
165857    4      0.686059  ...         2.370367  12.359520
165858    4      0.663322  ...         2.373662  12.352143
165859    4      0.645405  ...         2.373709  12.353393
165860    4      0.637614  ...         2.378750  12.357672

[165861 rows x 11 columns]

In [0]:
y_true = df1.iloc[:,13]

In [0]:
y_true=y_true.fillna(0)

In [53]:
y_true.unique()

array([2., 0., 3., 1., 4.])

In [0]:
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, y_true, test_size=test_size)

In [36]:
print(X_train.shape,y_train.shape)

(111126, 11) (111126,)

In [47]:
X_test.shape

(54735, 11)

In [37]:
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [39]:
model

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
y_pred = model.predict(X_test)

In [0]:
predictions = [round(value) for value in y_pred]

In [42]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 88.24%

In [0]:
from sklearn.metrics import multilabel_confusion_matrix

In [54]:
multilabel_confusion_matrix(y_test,predictions,labels=[0,1,2,3,4])

array([[[ 3767,  5784],
        [  473, 44711]],

       [[53030,    75],
        [ 1280,   350]],

       [[50609,   132],
        [ 2221,  1773]],

       [[53390,    59],
        [  731,   555]],

       [[51706,   388],
        [ 1733,   908]]])